# Visualize IDPs Data

In [47]:
import pandas as pd
import xlrd
import numpy as np
#import matplotlib.pyplot as plt
#plt.style.use('classic')
#%matplotlib inline
#import seaborn as sns

In [83]:
# Here we have just Gao, Mopti e Tombouctou
#gen14 = pd.read_excel('../data/IDPs Data/Baseline_Assessment_Round_1.xlsx')
#feb14 = pd.read_excel('../data/IDPs Data/Baseline_Assessment_Round_2.xlsx')

# The following are well written
dec14 = pd.read_excel('../data/IDPs Data/Baseline_Assessment_Round_12.xlsx')
nov15 = pd.read_excel('../data/IDPs Data/Baseline_Assessment_Round_18.xlsx')
gen16 = pd.read_excel('../data/IDPs Data/Baseline_Assessment_Round_19.xlsx')
dec16 = pd.read_excel('../data/IDPs Data/Baseline_Assessment_Round_28.xlsx')

dec17 = pd.read_excel('../data/IDPs Data/Baseline_December_2017.xlsx')
dec18 = pd.read_excel('../data/IDPs Data/Mali_Baseline_Assessment_December_2018.xlsx')
dec19 = pd.read_excel('../data/IDPs Data/IOM_DTM_Mali_Baseline_Assessment_Dec_2019_Round_60.xlsx')
apr20 = pd.read_excel('../data/IDPs Data/DTM_Mali_Baseline_Assessment_Round_64_April_2020.xlsx')

In [84]:
# I'm just interested in IDPs Ind# Variation from the prior year
dec17.rename(columns={'Total No. of IDPs HH' : 'Total No# of IDPs HH',
                      'Total No. of IDPs Ind.' : 'Total No# of IDPs Ind#',
                      'Total No. of Returnees HH.' : 'Total No# of Returnees HH#',
                      'Total No. of Returnees Ind.' : 'Total No# of Returnees Ind#'}, inplace=True)
dec18.rename(columns={'Total No. of IDPs HH' : 'Total No# of IDPs HH',
                      'Total No. of IDPs Ind.' : 'Total No# of IDPs Ind#',
                      'Total No. of Returnees HH.' : 'Total No# of Returnees HH#',
                      'Total No. of Returnees Ind.' : 'Total No# of Returnees Ind#'}, inplace=True)
dec19.rename(columns={'Total No. of IDPs HH' : 'Total No# of IDPs HH',
                      'Total No. of IDPs Ind.' : 'Total No# of IDPs Ind#',
                      'Total No. of Returnees HH.' : 'Total No# of Returnees HH#',
                      'Total No. of Returnees Ind.' : 'Total No# of Returnees Ind#'}, inplace=True)

In [85]:
"""
idps = [gen14,feb14,dec14,nov15,gen16,dec16,dec17,dec18,dec19,apr20]
for survey in idps:
    survey = survey[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs HH',
                   'Total No# of IDPs Ind#','Total No# of Returnees HH#','Total No# of Returnees Ind#']]
    survey = survey[survey['Admin 1'].isin(['Gao','Mopti','Tombouctou','Nord','Sahel','Est','Tahoua','Tillaberi'])]
    survey = survey.reset_index(drop=True)
    survey.rename(columns={'Snapshot Date' : 'date',
                          'Admin 0' : 'adm0_name',
                          'Admin 1' : 'adm1_name',
                          'Admin 2' : 'adm2_name'}, inplace=True)
    survey['date'] = survey['date'].astype(str)
    #Create column reference_year
    survey['reference_year'] = survey.date.str.split('-',expand=True)[0]
    survey['reference_year'] = survey['reference_year'].astype(int)
"""

"\nidps = [gen14,feb14,dec14,nov15,gen16,dec16,dec17,dec18,dec19,apr20]\nfor survey in idps:\n    survey = survey[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs HH',\n                   'Total No# of IDPs Ind#','Total No# of Returnees HH#','Total No# of Returnees Ind#']]\n    survey = survey[survey['Admin 1'].isin(['Gao','Mopti','Tombouctou','Nord','Sahel','Est','Tahoua','Tillaberi'])]\n    survey = survey.reset_index(drop=True)\n    survey.rename(columns={'Snapshot Date' : 'date',\n                          'Admin 0' : 'adm0_name',\n                          'Admin 1' : 'adm1_name',\n                          'Admin 2' : 'adm2_name'}, inplace=True)\n    survey['date'] = survey['date'].astype(str)\n    #Create column reference_year\n    survey['reference_year'] = survey.date.str.split('-',expand=True)[0]\n    survey['reference_year'] = survey['reference_year'].astype(int)\n"

In [86]:
"""
# Here we have data just for adm1 in gen14
gen14 = gen14[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
gen14 = gen14[gen14['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
gen14 = gen14.reset_index(drop=True)
gen14.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
gen14['date'] = gen14['date'].astype(str)
#Create column reference_year
gen14['reference_year'] = gen14.date.str.split('-',expand=True)[0]
gen14['reference_year'] = gen14['reference_year'].astype(int)
gen14 = gen14.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

feb14 = feb14[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
feb14 = feb14[feb14['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
feb14 = feb14.reset_index(drop=True)
feb14.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
feb14['date'] = feb14['date'].astype(str)
#Create column reference_year
feb14['reference_year'] = feb14.date.str.split('-',expand=True)[0]
feb14['reference_year'] = feb14['reference_year'].astype(int)
feb14 = feb14.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)
"""


dec14 = dec14[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
dec14 = dec14[dec14['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
dec14 = dec14.reset_index(drop=True)
dec14.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
dec14['date'] = dec14['date'].astype(str)
#Create column reference_year
dec14['reference_year'] = dec14.date.str.split('-',expand=True)[0]
dec14['reference_year'] = dec14['reference_year'].astype(int)
dec14 = dec14.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

nov15 = nov15[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
nov15 = nov15[nov15['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
nov15 = nov15.reset_index(drop=True)
nov15.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
nov15['date'] = nov15['date'].astype(str)
#Create column reference_year
nov15['reference_year'] = nov15.date.str.split('-',expand=True)[0]
nov15['reference_year'] = nov15['reference_year'].astype(int)
nov15 = nov15.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

gen16 = gen16[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
gen16 = gen16[gen16['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
gen16 = gen16.reset_index(drop=True)
gen16.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
gen16['date'] = gen16['date'].astype(str)
#Create column reference_year
gen16['reference_year'] = gen16.date.str.split('-',expand=True)[0]
gen16['reference_year'] = gen16['reference_year'].astype(int)
gen16 = gen16.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

dec16 = dec16[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
dec16 = dec16[dec16['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
dec16 = dec16.reset_index(drop=True)
dec16.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
dec16['date'] = dec16['date'].astype(str)
#Create column reference_year
dec16['reference_year'] = dec16.date.str.split('-',expand=True)[0]
dec16['reference_year'] = dec16['reference_year'].astype(int)
dec16 = dec16.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

dec17 = dec17[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
dec17 = dec17[dec17['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
dec17 = dec17.reset_index(drop=True)
dec17.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
#dec17['date'] = dec17['date'].astype(str)
dec17['date'] = '2017-12-31'
#Create column reference_year
dec17['reference_year'] = dec17.date.str.split('-',expand=True)[0]
dec17['reference_year'] = dec17['reference_year'].astype(int)
dec17 = dec17.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

dec18 = dec18[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
dec18 = dec18[dec18['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
dec18 = dec18.reset_index(drop=True)
dec18.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
dec18['date'] = dec18['date'].astype(str)
#Create column reference_year
dec18['reference_year'] = dec18.date.str.split('-',expand=True)[0]
dec18['reference_year'] = dec18['reference_year'].astype(int)
dec18 = dec18.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

dec19 = dec19[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
dec19 = dec19[dec19['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
dec19 = dec19.reset_index(drop=True)
dec19.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
dec19['date'] = dec19['date'].astype(str)
#Create column reference_year
dec19['reference_year'] = dec19.date.str.split('-',expand=True)[0]
dec19['reference_year'] = dec19['reference_year'].astype(int)
dec19 = dec19.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

apr20 = apr20[['Snapshot Date','Admin 0','Admin 1','Admin 2','Total No# of IDPs Ind#']]
apr20 = apr20[apr20['Admin 1'].isin(['Gao','Mopti','Tombouctou'])]
apr20 = apr20.reset_index(drop=True)
apr20.rename(columns={'Snapshot Date' : 'date',
                      'Admin 0' : 'adm0_name',
                      'Admin 1' : 'adm1_name',
                      'Admin 2' : 'adm2_name'}, inplace=True)
apr20['date'] = apr20['date'].astype(str)
#Create column reference_year
apr20['reference_year'] = apr20.date.str.split('-',expand=True)[0]
apr20['reference_year'] = apr20['reference_year'].astype(int)
apr20 = apr20.sort_values(by=['adm1_name','adm2_name']).reset_index(drop=True)

In [87]:
nov15

,date,adm0_name,adm1_name,adm2_name,Total No# of IDPs Ind#,reference_year
0,2015-11-30,Mali,Gao,Ansongo,1705,2015
1,2015-11-30,Mali,Gao,Bourem,4386,2015
2,2015-11-30,Mali,Gao,Gao,3148,2015
3,2015-11-30,Mali,Gao,Menaka,2756,2015
4,2015-11-30,Mali,Mopti,Bandiagara,42,2015
5,2015-11-30,Mali,Mopti,Bankass,15,2015
6,2015-11-30,Mali,Mopti,Djenne,30,2015
7,2015-11-30,Mali,Mopti,Douentza,84,2015
8,2015-11-30,Mali,Mopti,Koro,98,2015
9,2015-11-30,Mali,Mopti,Mopti,3237,2015
10,2015-11-30,Mali,Mopti,Tenenkou,125,2015
11,2015-11-30,Mali,Mopti,Youwarou,116,2015
12,2015-11-30,Mali,Tombouctou,Dire,5299,2015
13,2015-11-30,Mali,Tombouctou,Goundam,9389,2015
14,2015-11-30,Mali,Tombouctou,Gourma-Rharous,4363,2015
15,2015-11-30,Mali,Tombouctou,Niafunke,3623,2015
16,2015-11-30,Mali,Tombouctou,Tombouctou,3852,2015

In [88]:
dec14

,date,adm0_name,adm1_name,adm2_name,Total No# of IDPs Ind#,reference_year
0,2014-12-31,Mali,Gao,Ansongo,1888,2014
1,2014-12-31,Mali,Gao,Bourem,1484,2014
2,2014-12-31,Mali,Gao,Gao,1794,2014
3,2014-12-31,Mali,Gao,Menaka,2079,2014
4,2014-12-31,Mali,Mopti,Bandiagara,80,2014
5,2014-12-31,Mali,Mopti,Bankass,37,2014
6,2014-12-31,Mali,Mopti,Djenne,56,2014
7,2014-12-31,Mali,Mopti,Douentza,89,2014
8,2014-12-31,Mali,Mopti,Koro,262,2014
9,2014-12-31,Mali,Mopti,Mopti,3804,2014
10,2014-12-31,Mali,Mopti,Tenenkou,58,2014
11,2014-12-31,Mali,Mopti,Youwarou,44,2014
12,2014-12-31,Mali,Tombouctou,Dire,3658,2014
13,2014-12-31,Mali,Tombouctou,Goundam,1012,2014
14,2014-12-31,Mali,Tombouctou,Gourma-Rharous,626,2014
15,2014-12-31,Mali,Tombouctou,Niafunke,1112,2014
16,2014-12-31,Mali,Tombouctou,Tombouctou,3940,2014

In [89]:
# Create DataFrame dec15 with the mean values of nov15 and gen16
dec15 = pd.DataFrame(columns=['date','adm0_name','adm1_name','adm2_name','Total No# of IDPs Ind#','reference_year'])
dec15['adm0_name'] = nov15['adm0_name']
dec15['adm1_name'] = nov15['adm1_name']
dec15['adm2_name'] = nov15['adm2_name']
dec15['reference_year'] = nov15['reference_year']
dec15['Total No# of IDPs Ind#'] = round((nov15['Total No# of IDPs Ind#'] + gen16['Total No# of IDPs Ind#'])/2).astype(int)
dec15 = dec15.assign(date='2015-12-31')

In [90]:
dec19

,date,adm0_name,adm1_name,adm2_name,Total No# of IDPs Ind#,reference_year
0,2019-12-31,Mali,Gao,Ansongo,13325,2019
1,2019-12-31,Mali,Gao,Bourem,10573,2019
2,2019-12-31,Mali,Gao,Gao,34142,2019
3,2019-12-31,Mali,Gao,Menaka,17758,2019
4,2019-12-31,Mali,Mopti,Bandiagara,14967,2019
5,2019-12-31,Mali,Mopti,Bankass,12506,2019
6,2019-12-31,Mali,Mopti,Djenne,5866,2019
7,2019-12-31,Mali,Mopti,Douentza,6592,2019
8,2019-12-31,Mali,Mopti,Koro,12510,2019
9,2019-12-31,Mali,Mopti,Mopti,19792,2019
10,2019-12-31,Mali,Mopti,Tenenkou,3193,2019
11,2019-12-31,Mali,Mopti,Youwarou,102,2019
12,2019-12-31,Mali,Tombouctou,Dire,258,2019
13,2019-12-31,Mali,Tombouctou,Goundam,5658,2019
14,2019-12-31,Mali,Tombouctou,Gourma-Rharous,6110,2019
15,2019-12-31,Mali,Tombouctou,Niafunke,2574,2019
16,2019-12-31,Mali,Tombouctou,Tombouctou,8041,2019

In [93]:
# Merge all different years in a unique dataframe, create column difference_last_year, difference_per_month and export in csv

# Append it all from dec14
idps_mali = dec14.append(dec15.append(dec16.append(dec17.append(dec18.append(dec19.append(apr20)))))).reset_index(drop=True)

idps_mali['diff_last_year'] = idps_mali.groupby('adm2_name')['Total No# of IDPs Ind#'].diff().fillna(0)
idps_mali['diff_per_month'] = idps_mali['diff_last_year']/12
idps_mali['diff_per_month'][idps_mali['reference_year'].isin([2020])] = idps_mali['diff_per_month']*12/4

idps_mali

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,date,adm0_name,adm1_name,adm2_name,Total No# of IDPs Ind#,reference_year,diff_last_year,diff_per_month
0,2014-12-31,Mali,Gao,Ansongo,1888.0,2014,0.0,0.000000
1,2014-12-31,Mali,Gao,Bourem,1484.0,2014,0.0,0.000000
2,2014-12-31,Mali,Gao,Gao,1794.0,2014,0.0,0.000000
3,2014-12-31,Mali,Gao,Menaka,2079.0,2014,0.0,0.000000
4,2014-12-31,Mali,Mopti,Bandiagara,80.0,2014,0.0,0.000000
5,2014-12-31,Mali,Mopti,Bankass,37.0,2014,0.0,0.000000
6,2014-12-31,Mali,Mopti,Djenne,56.0,2014,0.0,0.000000
7,2014-12-31,Mali,Mopti,Douentza,89.0,2014,0.0,0.000000
8,2014-12-31,Mali,Mopti,Koro,262.0,2014,0.0,0.000000
9,2014-12-31,Mali,Mopti,Mopti,3804.0,2014,0.0,0.000000
10,2014-12-31,Mali,Mopti,Tenenkou,58.0,2014,0.0,0.000000
11,2014-12-31,Mali,Mopti,Youwarou,44.0,2014,0.0,0.000000
12,2014-12-31,Mali,Tombouctou,Dire,3658.0,2014,0.0,0.000000
13,2014-12-31,Mali,Tombouctou,Goundam,1012.0,2014,0.0,0.000000
14,2014-12-31,Mali,Tombouctou,Gourma-Rharous,626.0,2014,0.0,0.000000
15,2014-12-31,Mali,Tombouctou,Niafunke,1112.0,2014,0.0,0.000000
16,2014-12-31,Mali,Tombouctou,Tombouctou,3940.0,2014,0.0,0.000000
17,2015-12-31,Mali,Gao,Ansongo,1099.0,2015,-789.0,-65.750000
18,2015-12-31,Mali,Gao,Bourem,2206.0,2015,722.0,60.166667
19,2015-12-31,Mali,Gao,Gao,5899.0,2015,4105.0,342.083333
20,2015-12-31,Mali,Gao,Menaka,2659.0,2015,580.0,48.333333
21,2015-12-31,Mali,Mopti,Bandiagara,42.0,2015,-38.0,-3.166667
22,2015-12-31,Mali,Mopti,Bankass,15.0,2015,-22.0,-1.833333
23,2015-12-31,Mali,Mopti,Djenne,29.0,2015,-27.0,-2.250000
24,2015-12-31,Mali,Mopti,Douentza,84.0,2015,-5.0,-0.416667
25,2015-12-31,Mali,Mopti,Koro,96.0,2015,-166.0,-13.833333
26,2015-12-31,Mali,Mopti,Mopti,2558.0,2015,-1246.0,-103.833333
27,2015-12-31,Mali,Mopti,Tenenkou,106.0,2015,48.0,4.000000
28,2015-12-31,Mali,Mopti,Youwarou,116.0,2015,72.0,6.000000
29,2015-12-31,Mali,Tombouctou,Dire,3268.0,2015,-390.0,-32.500000
...,...,...,...,...,...,...,...,...
92,2019-12-31,Mali,Mopti,Bandiagara,14967.0,2019,10132.0,844.333333
93,2019-12-31,Mali,Mopti,Bankass,12506.0,2019,-7508.0,-625.666667
94,2019-12-31,Mali,Mopti,Djenne,5866.0,2019,-601.0,-50.083333
95,2019-12-31,Mali,Mopti,Douentza,6592.0,2019,5350.0,445.833333
96,2019-12-31,Mali,Mopti,Koro,12510.0,2019,-5223.0,-435.250000
97,2019-12-31,Mali,Mopti,Mopti,19792.0,2019,18234.0,1519.500000
98,2019-12-31,Mali,Mopti,Tenenkou,3193.0,2019,-1410.0,-117.500000
99,2019-12-31,Mali,Mopti,Youwarou,102.0,2019,59.0,4.916667
100,2019-12-31,Mali,Tombouctou,Dire,258.0,2019,-273.0,-22.750000
101,2019-12-31,Mali,Tombouctou,Goundam,5658.0,2019,1436.0,119.666667
102,2019-12-31,Mali,Tombouctou,Gourma-Rharous,6110.0,2019,1686.0,140.500000
103,2019-12-31,Mali,Tombouctou,Niafunke,2574.0,2019,1543.0,128.583333
104,2019-12-31,Mali,Tombouctou,Tombouctou,8041.0,2019,-2275.0,-189.583333
105,2020-04-30,Mali,Gao,Ansongo,14425.0,2020,1100.0,275.000000
106,2020-04-30,Mali,Gao,Bourem,11474.0,2020,901.0,225.250000
107,2020-04-30,Mali,Gao,Gao,36734.0,2020,2592.0,648.000000
108,2020-04-30,Mali,Gao,Menaka,20991.0,2020,3233.0,808.250000
109,2020-04-30,Mali,Mopti,Bandiagara,16190.0,2020,1223.0,305.750000
110,2020-04-30,Mali,Mopti,Bankass,21289.0,2020,8783.0,2195.750000
111,2020-04-30,Mali,Mopti,Djenne,5866.0,2020,0.0,0.000000
112,2020-04-30,Mali,Mopti,Douentza,6768.0,2020,176.0,44.000000
113,2020-04-30,Mali,Mopti,Koro,22787.0,2020,10277.0,2569.250000
114,2020-04-30,Mali,Mopti,Mopti,24648.0,2020,4856.0,1214.000000
115,2020-04-30,Mali,Mopti,Tenenkou,3463.0,2020,270.0,67.500000
116,2020-04-30,Mali,Mopti,Youwarou,1470.0,2020,1368.0,342.000000
117,2020-04-30,Mali,Tombouctou,Dire,258.0,2020,0.0,0.000000
118,2020-04-30,Mali,Tombouctou,Goundam,8864.0,2020,3206.0,801.500000
119,2020-04-30,Mali,Tombouctou,Gourma-Rharous,10755.0,2020,4645.0,1161.250000
120,2020-04-30,Mali,Tombouctou,Niafunke,3223.0,2020,649.0,162.250000
121,2020-04-30,Mali,Tombouctou,Tombouctou,8381.0,2020,340.0,85.000000